<div class="row">

    <div class="col-lg-6 mb-4">
        
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Nombre des Dons</h6>
            </div>
            
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                      <div class="card bg-primary text-white shadow">
                        <div class="card-body">
                            Nourriture
                          <div class="text-white"> <i class="fas fa-utensils fa-2x"></i> {{food}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <div class="card bg-success text-white shadow">
                        <div class="card-body">
                            Médicaments
                          <div class="text-white"><i class="fas fa-capsules fa-2x"></i> {{meds}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <div class="card bg-info text-white shadow">
                        <div class="card-body">
                            Produit d'hygiène
                          <div class="text-white"><i class="fas fa-flask fa-2x"></i> {{hyg}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                            Produit de protection
                          <div class="text-white"><i class="fas fa-medkit fa-2x"></i> {{prot}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                
                
            </div>
        </div>


    </div>

    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Violations Signalées</h6>
            </div>
            
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                      <div class="card bg-primary text-white shadow">
                        <div class="card-body">
                            Monopolistes
                          <div class="text-white"> <i class="fas fa-shopping-basket fa-2x"></i> {{monopole}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <div class="card bg-success text-white shadow">
                        <div class="card-body">
                            Augmentation Prix
                          <div class="text-white"><i class="fas fa-dollar-sign fa-2x"></i> {{price}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <div class="card bg-info text-white shadow">
                        <div class="card-body">
                            Vente conditionnelle
                          <div class="text-white"><i class="fas fa-hand-holding-usd fa-2x"></i> {{vente}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                            Vio. de quarantaine
                          <div class="text-white"><i class="fas fa-biohazard fa-2x"></i> {{quar}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                
                
            </div>
        </div>


    </div>
</div>